$main-font-stack: 'Montserrat', sans-serif;
$cursive-font-stack: 'Kaushan Script', cursive;
$simple-text-sans-serif-font-stack: 'Roboto', sans-serif;
$decoration-text-font-stack: "Roboto";
$main-text-size: 15px;
$main-text-height: 24px;
$primary-white-color: #ffffff;
$primary-dark-color: #333333;
$secondary-dark-color: #999999;
$secondary-light-color: #e5e5e5;
$primary-accent-color: #95e1d3;
$primary-bg-color: #fce38a;
$secondary-bg-color: #f38181;
$primary-inp-color: #cccccc;